html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif
}
form {
  margin: 0 auto;
  width: 400px;
}
input,
select {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 5px;
}
h1 {
  text-align: center;
  color: #536878;
  font-size: 2rem;
  margin-top: 15px;
}
